In [ ]:
import os
import mysql.connector
import pandas as pd

In [ ]:
connection = mysql.connector.connect(user = 'YaoyuTang',
                                    passwd = 'Ty18581348737',
                                    host = '127.0.0.1',
                                    auth_plugin = 'mysql_native_password',
                                     database = 'new_schema')
cursor = connection.cursor(prepared=True)

In [ ]:
connection

# Hi, my friend! Which field do you want to explore with me?

if you want to explore a certain movie, please type **"movie"**
<br>
if you want to explore movies according to their released year, please type **"year"**
<br>
if you want to explore movies according to their Certificate, please type **"certificate"**
<br>
if you want to explore movies according to their genre, please type **"genre"**
<br>
if you want to explore movies according to their ratings, please type **"rating"**
<br>
if you want to explore movies according to their meta score, please type **"meta"**
<br>
if you want to explore movies according to their directors, please type **"directors"**
<br>
if you want to explore movies according to actors and actresses invovled, please type **"star"**
<br>
if you want to explore movies according to the number of votes, please type **"vote"**

In [ ]:
field_explore = input("please choose your field")
category = ["year","certificate","genre","rating","meta","directors","star","movie","vote"]
while field_explore not in category:
    print("invalid input")
    field_explore = input("please choose your field")

In [ ]:
def explore_movie(movie_name):
    txt3 = "select * from imdb_top_1000 where Series_Title = {}".format(movie_name)
    top = pd.read_sql_query(txt3,connection)
    
    cursor.execute(txt3)
    mylist = list(cursor)
    if len(mylist) == 0:
        print("We didn't find the movie you are looking for.")
    else:
        print(top)

In [ ]:
def a_specific_movie():
    try_yes = True
    while try_yes == True:
        movie_name = input("please input the name of the movie you want to explore")
        movie_name = "'{}'".format(movie_name)
        explore_movie(movie_name) 
        try_again = input("do you want to look at another movie- y means yes and n means no")
                      
        if try_again == 'y':
            try_yes = True
        else:
            try_yes = False
            break

In [ ]:
if field_explore == "movie":
        movie_name = input("please input the name of the movie you want to explore")
        movie_name = "'{}'".format(movie_name)
        explore_movie(movie_name)

# if you want to explore Year ~

In [ ]:
def explore_year(year):
    txt3 = "select count(*) as number_of_movie from imdb_top_1000 where Released_Year = {}".format(year)
    top = pd.read_sql_query(txt3,connection)
    print("in this year, the number of movies among IMDB top 1000 movies is :")
    print(top)
    print("These movies are:")
    txt4 = "select Series_Title from imdb_top_1000 where Released_Year = {}".format(year)
    top1 = pd.read_sql_query(txt4,connection)
    print(top1)

In [ ]:
def stat_year():
    print("let's look at some statistics of the released year")
    print("the year(\s)\ with the maximum movie production:")
    year_most = pd.read_sql_query('select Released_Year, count(*) as number_of_movies from imdb_top_1000 group by Released_Year having count(*) >= all(select count(*) from imdb_top_1000 group by Released_Year)',connection)
    print(year_most)
    print("the year(\s)\ with the minimum movie production:")
    year_least = pd.read_sql_query('select Released_Year, count(*) as number_of_movies from imdb_top_1000 group by Released_Year having count(*) <= all(select count(*) from imdb_top_1000 group by Released_Year)',connection)
    print(year_least)
    print("on average, the number of movie production in every year is :")
    avg_pro = pd.read_sql_query('select count(distinct Series_title)/count(distinct Released_year) as avg_production from imdb_top_1000 ',connection)
    print(avg_pro)
    print("top 5 years with the highest average IMDB rating: ")
    top = pd.read_sql_query('select Released_year, avg(IMDB_Rating) from imdb_top_1000 group by Released_year order by avg(IMDB_Rating) desc limit 5',connection)
    print(top)

In [ ]:
if field_explore == "year":
        maxminyear = pd.read_sql_query('select max(Released_Year), min(Released_Year) from imdb_top_1000',connection)
        print("careful, the newst and the oldest movie was created in:")
        print(maxminyear)
        year = int(input("Which year do you want to explore?"))
        query_year = """select distinct Released_Year from imdb_top_1000"""
        cursor.execute(query_year)
        my_l = list(cursor)
        ifin = True
        yes = 0
        while ifin == True:
            for i in my_l:
                if i[0] == year:
                    yes = 1
                    break
            if yes == 1:
                print("got it")
                break
            else:
                print("invalid input")
                year = int(input("invalid. Please input again "))
                
        explore_year(year)
        
        specific_movie_yes = input("do you want to look at any of these movies closely? type y/n")
        if specific_movie_yes == 'y':                  
            a_specific_movie()
        ask = input("do you want to see more statistics of this field. please type y/n")
        if ask == 'y':
            stat_year()

# if you want to explore a genre ~

In [ ]:
def explore_genre(genre):
    txt3 = "select count(*) from imdb_top_1000 where Genre like '%{}%'".format(genre)
    top = pd.read_sql_query(txt3,connection)
    print("the number of movies in this genre:")
    print(top)
    print("These movies are:")
    txt4 = "select Series_Title from imdb_top_1000 where Genre like '%{}%'".format(genre)
    top2 = pd.read_sql_query(txt4,connection)
    print(top2)

In [ ]:
def stat_genre():
    print("let's look at some statistics of the certificate")
    print("the genre with the maximum movie production:")
    genre_most = pd.read_sql_query('select Genre, count(*) as number_of_movies from imdb_top_1000 group by Genre having count(*) >= all(select count(*) from imdb_top_1000 group by Genre)',connection)
    print(genre_most)
    print("the certificate category with the minimum movie production:")
    genre_least = pd.read_sql_query('select Genre, count(*) as number_of_movies from imdb_top_1000 group by Genre having count(*) <= all(select count(*) from imdb_top_1000 group by Genre)',connection)
    print("on average, the number of movie production in each genre is :")
    avg_pro = pd.read_sql_query('select count(distinct Series_title)/count(distinct Genre) as avg_production from imdb_top_1000 ',connection)
    print(avg_pro)
    print("top 5 genre with the highest average IMDB rating: ")
    top = pd.read_sql_query('select Genre, avg(IMDB_Rating) from imdb_top_1000 group by Genre order by avg(IMDB_Rating) desc limit 5',connection)
    print(top)

In [ ]:
if field_explore == "genre":
        num_gen = pd.read_sql_query('select count(distinct Genre) from imdb_top_1000',connection)
        print("the number of genras in total")
        print(num_gen)
        genre = input("Which genre do you want to know more about? ")
        explore_genre(genre)
        specific_movie_yes = input("do you want to look at any of these movies closely? type y/n")
        if specific_movie_yes == 'y':                  
            a_specific_movie()
        ask = input("do you want to see more statistics of this field. please type y/n")
        if ask == 'y':
            stat_genre()

# if you want to explore a certificate ~

In [ ]:
def explore_certificate(certificate):
    certificate = "'{}'".format(certificate)
    txt3 = "select count(*) from imdb_top_1000 where Certificate = {}".format(certificate)
    top = pd.read_sql_query(txt3,connection)
    print("the number of movies in this certification:") 
    print(top)
    print("These movies are:")
    txt4 = "select Series_Title from imdb_top_1000 where Certificate = {}".format(certificate)
    top1 = pd.read_sql_query(txt4,connection)
    print(top1)

In [ ]:
def stat_certificate():
    print("let's look at some statistics of the certificate")
    print("the certificate category with the maximum movie production:")
    certi_most = pd.read_sql_query('select Certificate, count(*) as number_of_movies from imdb_top_1000 group by Certificate having count(*) >= all(select count(*) from imdb_top_1000 group by Certificate)',connection)
    print(certi_most)
    print("the certificate category with the minimum movie production:")
    certi_least = pd.read_sql_query('select Certificate, count(*) as number_of_movies from imdb_top_1000 group by Certificate having count(*) <= all(select count(*) from imdb_top_1000 group by Certificate)',connection)
    print("on average, the number of movie production in each certification category is :")
    avg_pro = pd.read_sql_query('select count(distinct Series_title)/count(distinct Certificate) as avg_production from imdb_top_1000 ',connection)
    print(avg_pro)
    print("the certification with the highest average IMDB rating: ")
    top = pd.read_sql_query('select Certificate, avg(IMDB_Rating) from imdb_top_1000 group by Certificate order by avg(IMDB_Rating) desc limit 1',connection)
    print(top)

In [ ]:
if field_explore == "certificate":
        num_certificate = pd.read_sql_query('select count(distinct certificate) from imdb_top_1000 where certificate != ""',connection)
        print("the number of different kinds of crtificates")
        print(num_certificate)
        print("They are:")
        kinds_of_certificate = pd.read_sql_query('select distinct certificate from imdb_top_1000 where certificate != ""',connection)
        print(kinds_of_certificate)
        certificate = input("Which certificate do you want to explore? ")
        mystr = "bytearray(b'{}')".format(certificate)
        print(mystr)
        query_year = """select distinct certificate from imdb_top_1000 where certificate != ''"""
        cursor.execute(query_year)
        my_l = list(cursor)
        ifin = True
        yes = 0
        while ifin == True:
            for i in my_l:
                if str(i[0]) == mystr:
                    yes = 1
                    break
            if yes == 1:
                print("got it")
                break
            else:
                print("invalid input")
                certificate = input("invalid.Please input again")
                mystr = "bytearray(b'{}')".format(certificate)

        explore_certificate(certificate)
        
        specific_movie_yes = input("do you want to look at any of these movies closely? type y/n")
        if specific_movie_yes == 'y':                  
            a_specific_movie()
        ask = input("do you want to see more statistics of this field. please type y/n")
        if ask == 'y':
            stat_certificate()

# if you want to explore a specific range of rating ~

In [ ]:
def explore_rating(min_rate,max_rate):
    txt3 = "select count(*) from imdb_top_1000 where IMDB_Rating < {} and IMDB_Rating > {}".format(max_rate,min_rate)
    top = pd.read_sql_query(txt3,connection)
    print("the number of movies in this score range:")
    print(top)
    print("These movies are:")
    txt4 = "select Series_Title from imdb_top_1000 where IMDB_Rating < {} and IMDB_Rating > {}".format(max_rate,min_rate)
    top2 = pd.read_sql_query(txt4,connection)
    print(top2)

In [ ]:
if field_explore == "rating":
        print("the lowest score among all movies is 7.6 and the highest score is 9.3")
        print("you can type in your score range and we will show you movies whose ratings are within the range")
        min_rate = int(input("you want movies whose ratings are higher than what value - smallest value of your score range"))
        max_rate = int(input("you want movies whose ratings are lower than what value - largest value of your score range"))
        explore_rating(min_rate,max_rate)
        specific_movie_yes = input("do you want to look at any of these movies closely? type y/n")
        if specific_movie_yes == 'y':                  
            a_specific_movie()

# if you want to explore a specific range of meta score ~

In [ ]:
def explore_meta(meta_max,meta_min):
    txt3 = "select count(*) from imdb_top_1000 where Meta_score < {} and Meta_score > {}".format(meta_max,meta_min)
    top = pd.read_sql_query(txt3,connection)
    print("the number of movies in this score range:")
    print(top)
    print("These movies are:")
    txt4 = "select Series_Title from imdb_top_1000 where Meta_score < {} and Meta_score > {}".format(meta_max,meta_min)
    top2 = pd.read_sql_query(txt4,connection)
    print(top2)

In [ ]:
def stat_meta():
    
    print("let's look at some statistics of meta scores")
    print("the average meta scores of all movies is:")
    avg_meta = pd.read_sql_query('select avg(Meta_score) from imdb_top_1000',connection)
    print(avg_meta)
    print("top 5 years with the highest average meta score:")
    top1 = pd.read_sql_query('select Released_year, avg(Meta_score) from imdb_top_1000 group by Released_year order by avg(Meta_score) desc limit 5',connection )
    print(top1)
    print("the certification with the highest average meta score: ")
    top2 = pd.read_sql_query('select Certificate, avg(Meta_score) from imdb_top_1000 group by Certificate order by avg(Meta_score) desc limit 1',connection)
    print(top2)
    print("top 5 genre with the highest average meta score: ")
    top3 = pd.read_sql_query('select Genre, avg(Meta_score) from imdb_top_1000 group by Genre order by avg(Meta_score) desc limit 5',connection )
    print(top3)
    print("top 5 directors with the highest average meta score: ")
    top4 = pd.read_sql_query('select Director, avg(Meta_score) from imdb_top_1000 group by Director order by avg(Meta_score) desc limit 5',connection )
    print(top4)
    print("top 10 stars（leading roles） with the highest average meta score: ")
    top5 = pd.read_sql_query('select Star1, avg(Meta_score) from imdb_top_1000 group by Star1 order by avg(Meta_score) desc limit 10',connection )
    print(top5)

In [ ]:
if field_explore == "meta":
        print("the lowest meta score among all movies is 28 and the highest score is 100")
        print("you can type in your score range and we will show you movies whose ratings are within the range")
        meta_min = int(input("you want movies whose meta scores are higher than what value - smallest value of your score range"))
        meta_max = int(input("you want movies whose meta scores are lower than what value - greatest value of your score range"))                
        explore_meta(meta_max,meta_min)
        specific_movie_yes = input("do you want to look at any of these movies closely? type y/n")
        if specific_movie_yes == 'y':                  
            a_specific_movie()                           
                                   
        ask = input("do you want to see more statistics of this field. please type y/n")
        if ask == 'y':
            stat_meta()

# if you want to explore a director ~

In [ ]:
def explore_directors(directors):
    directors = "'{}'".format(directors)
    txt3 = "select count(distinct Series_Title) from imdb_top_1000 where Director = {}".format(directors)
    top = pd.read_sql_query(txt3,connection)
    print("the number of movies directed by this director:")
    print(top)
    print("These movies are:")
    txt4 = "select Series_Title from imdb_top_1000 where Director = {}".format(directors)
    top1 = pd.read_sql_query(txt4,connection)
    print(top1)

In [ ]:
def stat_director():
    print("let's look at some statistics of director")
    print("the director with the maximum movie production:")
    director_most = pd.read_sql_query('select Director, count(*) as number_of_movies from imdb_top_1000 group by Director having count(*) >= all(select count(*) from imdb_top_1000 group by Director)',connection)
    print(director_most)
    print("the director category with the minimum movie production:")
    director_least = pd.read_sql_query('select Director, count(*) as number_of_movies from imdb_top_1000 group by Director having count(*) <= all(select count(*) from imdb_top_1000 group by Director)',connection)
    print("on average, the number of movie production by a director is :")
    avg_pro = pd.read_sql_query('select count(distinct Series_title)/count(distinct Director) as avg_production from imdb_top_1000 ',connection)
    print(avg_pro)
    print("top 5 directors with the highest average IMDB rating: ")
    top = pd.read_sql_query('select Director, avg(IMDB_Rating) from imdb_top_1000 group by Director order by avg(IMDB_Rating) desc limit 5',connection )
    print(top)

In [ ]:
if field_explore == "directors":
        num_director = pd.read_sql_query('select count(distinct Director) from imdb_top_1000 where Director != ""',connection)
        print("the number of directors in total on IMDB top 1000 billboards")  
        print(num_director)                           
        directors = input("Which director do you want to know more about? ")
        mystr = "bytearray(b'{}')".format(directors)
        query_dir = """select distinct Director from imdb_top_1000"""
        cursor.execute(query_dir)
        my_l = list(cursor)
        ifin = True
        yes = 0
        while ifin == True:
            for i in my_l:
                if str(i[0]) == mystr:
                    yes = 1
                    break
            if yes == 1:
                print("got it")
                break
            else:
                print("invalid input")
                directors = input("invalid. Please input again ")
                mystr = "bytearray(b'{}')".format(directors)
        
        explore_directors(directors)
        specific_movie_yes = input("do you want to look at any of these movies closely? type y/n")
        if specific_movie_yes == 'y':                  
            a_specific_movie()
        ask = input("do you want to see more statistics of this field. please type y/n")
        if ask == 'y':
            stat_director()

# if you want to explore a star ~

In [ ]:
def explore_star(star):
    star = "'{}'".format(star)
    txt3 = "select count(distinct Series_Title) from imdb_top_1000 where Star1 = {} or Star2 = {} or Star3 = {}".format(star,star,star)
    top = pd.read_sql_query(txt3,connection)
    print("the number of movies in which this actor is involved")
    print(top)
    print("These movies are:")
    txt4 = "select distinct Series_Title from imdb_top_1000 where Star1 = {} or Star2 = {} or Star3 = {}".format(star,star,star)
    top1 = pd.read_sql_query(txt4,connection)
    print(top1)

In [ ]:
def stat_star():
    print("top 10 stars（leading roles） with the highest average IMDB rating: ")
    top = pd.read_sql_query('select Star1, avg(IMDB_Rating) from imdb_top_1000 group by Star1 order by avg(IMDB_Rating) desc limit 10',connection )
    print(top)

In [ ]:
if field_explore == "star":
        distinct_star = pd.read_sql_query('select distinct Star1 from imdb_top_1000 union select distinct Star2 from imdb_top_1000 union select distinct Star3 from imdb_top_1000',connection)
        print("the number of stars in total on IMDB top 1000 billboards")      
        print(len(distinct_star))
        star = input("Which star do you want to know more about? ")
        mystr = "bytearray(b'{}')".format(star)
        query_dir = """select distinct Star1 from imdb_top_1000 union select distinct Star2 from imdb_top_1000 union select distinct Star3 from imdb_top_1000"""
        cursor.execute(query_dir)
        my_l = list(cursor)
        ifin = True
        yes = 0
        while ifin == True:
            for i in my_l:
                if str(i[0]) == mystr:
                    yes = 1
                    break
            if yes == 1:
                print("got it")
                break
            else:
                print("invalid input")
                year = int(input("invalid. Please input again "))           
        explore_star(star)
        specific_movie_yes = input("do you want to look at any of these movies closely? type y/n")
        if specific_movie_yes == 'y':                  
            a_specific_movie()
        ask = input("do you want to see more statistics of this field. please type y/n")
        if ask == 'y':
            stat_star()

# if you want to explore a specific range of voting ~

In [ ]:
def explore_vote(vote_max, vote_min ):
    txt3 = "select count(*) from imdb_top_1000 where No_of_Votes < {} and No_of_Votes > {}".format(vote_max,vote_min)
    top = pd.read_sql_query(txt3,connection)
    print("the number of movies in this score range:")
    print(top)
    print("These movies are:")
    txt4 = "select Series_Title from imdb_top_1000 where No_of_Votes < {} and No_of_Votes > {}".format(vote_max,vote_min)
    top2 = pd.read_sql_query(txt4,connection)
    print(top2)

In [ ]:
def stat_votes():
    print("let's look at some statistics of votes")
    print("the average votes of all movies is:")
    avg_vote = pd.read_sql_query('select avg(No_of_Votes) from imdb_top_1000',connection)
    print(avg_vote)
    print("top 5 years with the highest average votes:")
    top1 = pd.read_sql_query('select Released_year, avg(No_of_Votes) from imdb_top_1000 group by Released_year order by avg(No_of_Votes) desc limit 5',connection )
    print(top1)
    print("the certification with the highest average votes: ")
    top2 = pd.read_sql_query('select Certificate, avg(No_of_Votes) from imdb_top_1000 group by Certificate order by avg(No_of_Votes) desc limit 1' ,connection)
    print(top2)
    print("top 5 genre with the highest average votes: ")
    top3 = pd.read_sql_query('select Genre, avg(No_of_Votes) from imdb_top_1000 group by Genre order by avg(No_of_Votes) desc limit 5',connection )
    print(top3)
    print("top 5 directors with the highest average votes: ")
    top4 = pd.read_sql_query('select Director, avg(No_of_Votes) from imdb_top_1000 group by Director order by avg(No_of_Votes) desc limit 5',connection)
    print(top4)
    print("top 10 stars（leading roles） with the highest average votes: ")
    top5 = pd.read_sql_query('select Star1, avg(No_of_Votes) from imdb_top_1000 group by Star1 order by avg(No_of_Votes) desc limit 10',connection)
    print(top5)

In [ ]:
if field_explore == "vote":
        print("the lowest votes among all movies is 25198 and the highest score is 2343110")
        print("you can type in your score range and we will show you movies whose ratings are within the range")
        vote_min = int(input("you want movies whose votes are higher than what value-smallest value of your score range"))
        vote_max = int(input("you want movies whose votes are lower than what value - greatest value of your score range"))                 
                    
        explore_vote(vote_max, vote_min )
        specific_movie_yes = input("do you want to look at any of these movies closely? type y/n")
        if specific_movie_yes == 'y':                  
            a_specific_movie()     
    
        ask = input("do you want to see more statistics of this field. please type y/n")
        if ask == 'y':
            stat_votes()

# THANK YOU SO MUCH! Have a nice day~